#scale-wrapper{
  width: 100px;
  height: 100px;
  position: relative;


  .meter{
    width: 100%;
    height: 100%;
    position: relative;
  }


  .meter-needle {
    position: absolute;
    z-index: 5;
    height: 35%;
    top: 18%;
    left: 47%;
    margin: auto;
    transform-origin: 50% 92%;
    transform: rotate(-180deg);  /*moves needle to 0 mark */
  }

  .weight-display {
    position: absolute;
    font-size: 1.5rem;
    font-family: monospace;
    top: 90%;
    left: 11%;
    text-align: center;
    width: 85%;
  }
}
