#wrapper{
  width: 400px;
  height: 400px;
  position: relative;


  #meter{
    width: 100%;
    height: 100%;
    position: relative;
  }


  #meter-needle {
    position: absolute;
    height: 35%;
    top: 18%;
    left: 47%;
    margin: auto;
    transform-origin: 50% 92%;
    transform: rotate(-180deg);  /*moves needle to 0 mark */
  }
}
